footer {
  padding: 10px;
  width: 100%;
  text-align: center;
  background-color: antiquewhite;

  p {
    margin: 7px 0;

    a {
      color: initial;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
